<?xml version="1.0" encoding="UTF-8"?>
<config>
  <info>
    <type>web</type>
    <id>1350F2ED-5400-45AD-A2BA3955E7F66591</id>
    <name>twitter-gateway</name>
    <label>Twitter Gateway</label>
    <description>Adds new gateways to connect to the streaming APIs provided by Twitter. Use these to get low latency access to Twitter's global stream of Tweet data. Get rid of the overhead associated with polling a REST endpoint and have messages indicating Tweets and other events directly pushed into your application.</description>
    <version>@VERSION@</version>
    <image>https://raw.github.com/jbvanzuylen/cf-twitter-gateway/master/railo/twitter_logo_blue.png</image>
    <author>Jean-Bernard van Zuylen</author>
    <support>https://github.com/jbvanzuylen/cf-twitter-gateway/issues</support>
    <created>@RELEASE_DATE@</created>
  </info>
</config>